body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: rgb(242, 244, 246);
  background-repeat: no-repeat;
  background-position: top center;
}

.logo-header{

  align-self:center;
}

header h1 {
  text-align: center;
}

.header-list {
  list-style: none;
}

.page-header {
  margin: 0 0 50px;
  padding: 10px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;  
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}


input[type=text] {
  width: 85%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: auto;
}

input[type=submit] {
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
}

.search-form {
  width: 50%;
  margin: 20px 20px 20px 125px;
  align-self: center;
 
}

.container-category {
  display:flex;
  justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.category-golf, .category-djamper {
  margin: 50px;
  padding: 30px;
}

.category-golf .container {
  max-width: 1408px;
  text-align: center;
}





